* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #fff;
  background-color: #111111;

}

.maincontiner {
  background-color: #111;
}

body {

  background-color: #111111;

  color: #F8F9FA;
}

.all {
  padding: 0px 80px;
  background-color: #1A1A1A;

}

.header {
  height: 80px;
  background-color: #1A1A1A;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 80px !important;
  box-sizing: border-box;

  & h2 {
    font-size: 35px;
  }

  & .navigation {
    display: flex;
    gap: 20px;


    & a {
      text-decoration: none;
      font-family: "Stack Sans Notch", sans-serif;

    }
  }

}

.fit {
  color: #F2CA1F;
}

.Background {
  /* z-index: ; */
}

.mainHeadingText {
  font-family: "Stack Sans Notch", sans-serif;
  border-radius: 10px;
}

.subText {
  font-family: "Roboto Condensed", sans-serif;
}

button {
  padding: 15px 30px;
  font-size: 16px;
  border: #F2CA1F;
  background-color: #F2CA1F;
  color: #111111;
  border-radius: 10px;
  transition: 0.3s;
  border: 2px solid #F2CA1F;

  &:hover {
    background-color: #11111100;
    color: #F2CA1F;
    border: 2px solid #F2CA1F;
  }
}

.switch {
  font-size: 17px;
  position: relative;
  display: inline-block;

  width: 3.5em;
  height: 2em;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #fff;
  border: 1px solid #adb5bd;
  transition: .4s;
  border-radius: 30px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 1.4em;
  width: 1.4em;
  border-radius: 20px;
  left: 0.27em;
  bottom: 0.25em;
  background-color: #adb5bd;
  transition: .4s;
}

input:checked+.slider {
  background-color: #F2CA1F;
  border: 1px solid #F2CA1F;
}

input:focus+.slider {
  box-shadow: 0 0 1px #F2CA1F;
}

input:checked+.slider:before {
  transform: translateX(1.4em);
  background-color: #fff;
}



/* start hero section style   */

.mainIage {
  background-image: url(./images/imgi_18_Banner.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;


  & .text {
    background-color: #000000c2;
    width: 50%;
    height: 100vh;
    padding-left: 80px;
    padding-top: 100px;


    & h1 {
      width: 100px 50px;
      font-size: 100px;
    }

    & p {
      letter-spacing: 2px;
      font-size: 25px;
      padding-bottom: 50px;
      word-spacing: 2px;
    }
  }
}

.AboutUs {
  display: flex;
  width: 100%;
  justify-content: space-between;
  box-sizing: border-box;
  gap: 20px;
  margin-top: 100px;
  font-size: 18px;
  letter-spacing: 2px;

  & div {
    width: 50%;
  }

  & img {
    width: 100%;
  }


  & i {
    color: #F2CA1F;
    padding-right: 10px;
  }

  & h3 {
    font-size: 50px;
  }

  & sub {
    font-size: 20px;
    font-weight: 1000px;
  }
}

.ourPrograms {
  & .mainHeadingText {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin: 30px;
    padding: 20px;
    font-size: 50px;
  }

  & p {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fdfdfd46;
    font-size: 15px;
    letter-spacing: 2px;
    padding: 0%;
  }

}

/* end hero section style   */